<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= name %>
    </title>
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <h1>
        <%= name %> subredditのページ
    </h1>
    <h2>
        <%= description %>
    </h2>
    <p>
        <%= subscribers %>
    </p>
    <hr>

    <% for(let post of posts) { %>
        <article>
            <h3><%= post.title %></h3> - <b><%=  post.author %></b>
            <% if (post.img) { %>
                <img src="<%= post.img %>">
            <% } %>
        </article>

     <%    } %>
</body>

</html>